.pagination {
  padding: 0px 0 !important;
  margin-left: auto;
}

.clients-headers{
display: flex;
}

.clients-bottom{
  display: flex;
}

.bottom-border .is-active li{
  font-weight: bold;
  border-bottom: 3px solid  #1abc9c !important;
}