#clients2 {
  background-color: blue;
}
.clients{
  /* margin-top: 160px; */
}

/* .bottom-border {
background-color: aqua;
padding: 5px;
}

.pagination{
  background-color: aqua;
padding: 5px;
} */

.pagination {
  padding: 0px 0 !important;
  margin-left: auto;

}

.clients-headers{
/* background-color: aqua; */
display: flex;
}