body{
  background-color: #ecf0f1;
}
.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
/* font-family: 'Cuprum', sans-serif; */
}

.navbar{
  background-color: #0a1612;
  display: flex;
  font-size: 18px;
}

a{
  text-decoration: none;
  color: white;
  margin: 5px;
  margin-left: 15px;
  padding: 5px;
}
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:hover {background-color:#f5f5f5;}

.clients-table{
  /* margin: 10px; */
  
}
/* Use #ecf0f1 for your app's background-color
Use #0a1612 for the nav-bar's background color
Use #F7CE3E for the table's header background-color
Use these for your badges background colors: #2ecc71, #3498db, #e74c3c, #f1c40f
And these colors for your charts:
Top Salespeople: #003f5c
Sales By X: #955196
Sales over time: #ff6e54
Client Distribution: #795548, #34495e, #95a5a6 */
