.update-client {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 25px;
  background-color: darkblue;
}
.update-client datalist {
  background-color: red;
}
.liat {
  background-color: aqua;
}
.liat{
  background-color: aqua;
}